@model IEnumerable<JustynaKozbaLab8Zad1.Models.JustynaKozbaScore>

@{
    ViewBag.Title = "Index";
}
<!--Zdefiniowanie stylów-->
<style>
    body {
        background-color: lavenderblush;
        text-align: center;
    }
</style>

<h2>Score</h2>

<!--Dodanie obrazka na górze strony-->
<div>
    <img src="~/Images/score.png" style="text-align:center; " />
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JustynaKozbaScore2.Login)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
